{% extends 'base.html' %}

{% block title %} Forum {% endblock %}

{% block content %}


<div class="_forum_container">
    <div class="heading">Welcome to our - <span style="color: #9fef00;">Forum</span></div>
    <div class="sub-heading">Discuss with your community members <br> and boost up your skills</div>
  </div>
  <div class="main_chat">
  <div class="chat-container">
    
    <div class="chat-heading"><span> $</span> SecureCTF</div>
    <div class="message-container">
      <!-- Sample messages -->
      <div class="message">
        <div class="user-logo">U</div>
        <div class="user-message">
          Hello, how's everyone doing?
        </div>
      </div>
      <div class="message">
        <div class="user-logo">V</div>
        <div class="user-message">
          I'm doing great, thanks for asking!
        </div>
      </div>
      <div class="message">
        <div class="user-logo">W</div>
        <div class="user-message">
          Hey there! Anyone up for a discussion?
        </div>
      </div>
      <!-- Add more messages here -->
    </div>

    <div class="message-bar">
      <input type="text" class="message-input" placeholder="Enter a message to send...">
      <button class="send-button">Send</button>
    </div>
  </div>
</div>


















































{% endblock %}
