{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block homenavbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('signup') }}">Get Started</a>
    </li>
{% endblock %}


{% block banner %}
    <!-- home banner -->
    <div class="container text-center home-banner">
        <h1>Welcome to - SecureCTF</h1>
        <p class="home-banner-paragraph">
            We Provide Different Categories of CTF Challenges for absolutely free of cost.
            <br>
            Explore Hundreds of Challenges that are available on our Plateform.
        </p>

        <button  class="home-banner-button">
            Explore ➞
        </button>

        {% for br in range(3) %}
            <br>
        {% endfor %}

        <h2>Why SecureCTF</h2>
        <br>
        <p>Learn Cyber Security by Playing CTF</p>

        <!-- boxes -->
        <div class="row">
            <div class="col-md-4">
                <div style="margin-bottom: 30px" class="card text-center home-boxes card-wrapper">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Click the button to Delete Users</strong></h5>
                        {% for br in range(7) %}
                        <br>
                        {% endfor %}
                            <a class="btn home-banner-button btn-outline" href="#">Find Now ➞</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="margin-bottom: 30px" class="card text-center home-boxes card-wrapper">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Click the button to Delete Items</strong></h5>
                        {% for br in range(7) %}
                        <br>
                        {% endfor %}
                            <a class="btn home-banner-button btn-outline" href="#">Find Now ➞</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="margin-bottom: 30px" class="card text-center home-boxes card-wrapper">
                    <div class="card-body">
                        <h5 class="card-title"><strong>ClicFind Now ➞</strong></h5>
                        {% for br in range(7) %}
                        <br>
                        {% endfor %}
                            <a class="btn home-banner-button btn-outline" href="#">Give Tokens</a>
                    </div>
                </div>
            </div>
        </div>



    </div>
{% endblock %}
