{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block homenavbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('signup') }}">Get Started</a>
    </li>
{% endblock %}


{% block banner %}
    <!-- home banner -->
    <div class="container text-center home-banner">
        <h1>Welcome to - SecureCTF</h1>
        <p class="home-banner-paragraph">
            We Provide Different Categories of CTF Challenges for absolutely free of cost.
            <br>
            Explore Hundreds of Challenges that are available on our Plateform.
        </p>

        <a class="btn home-banner-buttons btn-outline" href="{{ url_for('login') }}">Explore Now ➞</a>

        {% for br in range(5) %}
            <br>
        {% endfor %}

        <h2>Why SecureCTF</h2>
        <br>
        <p>Learn Cyber Security by Playing CTF</p>

        {% for br in range(9) %}
            <br>
        {% endfor %}

    </div>

    <div class="mr-3 ml-3">
        <!-- boxes -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div style="margin-bottom: 30px" class="card text-center home-boxes card-wrapper">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Various Challenges</strong></h5>
                        <br>
                        <p>Here you can find different types of challenges</p>
                        {% for br in range(10) %}
                        <br>
                        {% endfor %}
                            <a class="btn home-banner-buttons btn-outline" href="{{ url_for('ctf') }}">Find Now ➞</a>       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="margin-bottom: 30px" class="card text-center home-boxes card-wrapper">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Hacker's Forum</strong></h5>
                        <br>
                        <p>Network with thousands of cyber security personals & boost your skills</p>
                        {% for br in range(9) %}
                        <br>
                        {% endfor %}
                            <a class="btn home-banner-buttons btn-outline" href="{{ url_for('forum') }}">Find Now ➞</a> 
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="margin-bottom: 30px" class="card text-center home-boxes card-wrapper">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Community Support</strong></h5>
                        <br>
                        <p>Here you can find community solutions posted by professionals and community members</p>
                        {% for br in range(9) %}
                        <br>
                        {% endfor %}
                            <a class="btn home-banner-buttons btn-outline" href="{{ url_for('community') }}">Find Now ➞</a>    
                        </div>
                </div>
            </div>
        </div>

    </div>
    
{% endblock %}
