{% extends 'base.html' %}

{% block title %} SignUP Page{% endblock %}

{% block content %}

{% block rightnavbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    </li>
{% endblock %}


<div class="centered">
    {% for _ in range(3) %}
        <br>
    {% endfor %}
    
    <div class="row", style="border-radius: 10px;">
        <div class="col-md-4 mb-4">
            <div style="margin-bottom: 30px" class="card-custom card-wrapper-custom">
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <h3 class="card-title"><strong>SignUp</strong></h3>
                        <p style="color: #808080">Register your account</p>
                        <br>

                        {{ form.username(class="form-control-custom", placeholder="User Name") }}
                        
                        {{ form.email(class="form-control-custom", placeholder="Email") }}
                        
                        {{ form.password(class="form-control-custom", placeholder="Password") }}
                        
                        {{ form.confirm_password(class="form-control-custom", placeholder="Confirm Password") }}
                        <br>
                        {{ form.submit(id="submit-btn")}}
          
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}