{% extends 'base.html' %}

{% block title %} Upload Page {% endblock %}

{% block content %}


<div class="upload_container">
    <h1 class="upload_txt">Upload your - <span>Challenges</span></h1>
    <p class="upload_para">Here you can upload your challenges</p>
    <div class="submit-text">Submit a <span>Challenges....</span></div>
    <button class="submit-btn">Upload <i class="fa-solid fa-cloud-arrow-up"></i></button>
    <form action="">
      <input type="text" placeholder="Challenge Name">
      <input type="text" placeholder="Category">
      <input type="text" placeholder="Author">
      <input type="text" placeholder="Difficulty">
      <input type="text" placeholder="Points">
      <input type="submit" value="Submit Challenge">
    </form>
  </div>














{% endblock %}