{% extends 'base.html' %}

{% block title %} Upload Page {% endblock %}

{% block content %}
<div class="upload_container">
    <h1 class="upload_txt">Upload your - <span>Challenges</span></h1>
    <p class="upload_para">Here you can upload your challenges</p>
    <div class="submit-text">Submit a <span>Challenges....</span></div>
    <br>
    <!-- <button class="submit-btn">Upload <i class="fa-solid fa-cloud-arrow-up"></i></button> -->
    <form method="POST">
      {{ form.hidden_tag() }}

      <!-- <input type="text" placeholder="Challenge Name"> -->
      {{ form.challenge_name(type='text', placeholder='Challenge Name') }}

      <!-- <input type="text" placeholder="Category"> -->
      {{ form.category(type='text', placeholder='Category') }}

      <!-- <input type="text" placeholder="Description"> -->
      {{ form.description(type='text', placeholder='description') }}

      <!-- <input type="text" placeholder="Difficulty"> -->
      {{ form.difficulty(type='text', placeholder='difficulty') }}

      <!-- <input type="text" placeholder="Points"> -->
      {{ form.points(type='text', placeholder='points') }}

      <!-- <input type="submit" value="Submit Challenge"> -->
      <br>
      <!-- <button class="submit-btn">Upload <i class="fa-solid fa-cloud-arrow-up"></i></button> -->
      {{ form.upload(class="submit-btn", placeholder='Upload')}}
      
    </form>
  </div>
{% endblock %}