{% extends 'base.html' %}

{% block title %} User Profile {% endblock %}

{% block rightnavbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('ctf') }}">Play Ground</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('upload') }}">Upload</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
    </li>
{% endblock %}

{% block content %}



<!-- Welcome heading with small text -->

<div class="dashboard_container">
    <h1>Welcome to your - <label> <b>Dashboard</b></label></h1>
    <p>Explore your <label id="sub_text">achievements</label></p>
    <div>
        <!-- Insert your user logo here -->
        <img class="user-logo" src="https://favim.com/pd/1tb/preview/7/749/7496/74964/7496409.jpg" alt="">
    </div>


    <!-- User information including username,bio,social media -->

    <div class="user-info">
        <p>{{ user_profile.username }} <label><b>[{{ league }}]</b></label></p>
        <p id="bio">{{ user_profile.bio }}</p>
        <a href="{{ user_profile.linkedin }}"><i class="fa-brands fa-linkedin" id="linedin"></i></a>
        <a href="{{ user_profile.youtube }}"><i class="fa-brands fa-youtube" id="youtube"></i></a>
        <a href="{{ user_profile.github }}"><i class="fa-brands fa-github" id="github"></i></a>
        <a href="{{ user_profile.website }}"><i class="fa-brands fa-medium" id="medium"></i></a>
    </div>
</div>


 <!-- Rank and label HTML -->

<div class="rank-container">
    <div class="rank-section">
        <p class="rank-value"><b>{{ user_profile.rank }}</b></p>
        <p class="rank-label">Rank</p>
    </div>
    <div class="rank-section">
        <p class="rank-value"><b>{{ solved }}</b></p>
        <p class="rank-label">Solved</p>
    </div>
    <div class="rank-section">
        <p class="rank-value"><b>{{ user_profile.level }}</b></p>
        <p class="rank-label">Level</p>
    </div>
</div>


<!-- Solved Box  HTML -->

<div class="room_level">
    <h3 class="room_level_txt"> <label>Rooms</label> Completed...</h3>
</div>
<div class="solved_challenges">
    {% for challenge in challenges %}
    <div class="chlbox1">
        <div class="box_catagory">{{ challenge.category }}</div>
        <div class="box_points">{{ challenge.points }} | points</div>
        <div class="box_challenge_name">{{ challenge.challenge_name }} <i class="fa-regular fa-circle-check fa-lg" style="color: #1fdb5e;"></i> </div>
        <div class="diff">{{ challenge.difficulty }}</div>
        <div class="author">Author: {{ challenge.uploaded_user }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}