._forum_container{
    margin-top: 50px;
    margin-bottom: 75px;
}
  .heading {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }
.heading span{
    color: #9fef00;
}
  .sub-heading {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
    color: #7594bd;
  }
.main_chat{
    width: 100%;
    height: 780px;
}
  .chat-container {
    width: 1100px;
    height: 730px;
    background-color: #1b2f4a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 22.33%;
  }

  .chat-heading {
    background-color: #181d2b;
    color: #fff;
    font-size: 17px;
    padding: 13px;
    padding-left: 30px;
  }
  .chat-heading  span{
    font-weight: bold;
    color: #9fef00;
  }
  .message-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7px;
  }
  .user-logo {
    background-color: #181d2b;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 7px;
  }

  .user-message {
    background-color: #181d2b;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
  }

  .message-bar {
    background-color: #181d2b;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .message-input {
    flex: 1;
    background-color: #171924;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    
  }
input:focus{
    outline: none;
}
  .send-button {
    background-color: #9fef00;
    color: hsl(0, 9%, 4%);
    border: none;
    padding: 7px 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -3px;
    animation: ease-in 3s;
  }
.send-button:hover{
    background-color: #9fef00d2;
}


  @media (max-width: 768px) {
    .chat-container {
      width: 90%;
      height: 90%;
    }
  }