/* Login | Signup Pages */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Larger card */
.card-wrapper-custom {
    width: 500px; /* Set the width to whatever you want */
    margin: auto; /* Center the card */
}

.card-custom {
    padding: 20px;
    font-size: 18px;
    background-color: #1a2332;
    border-radius: 10px;

    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.form-control-custom {
    border: none;
    height: 60px;
    background-color: #121926;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #b4b4b4;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Change the placeholder text color to white */
.form-control-custom::placeholder {
    color: #808080;
}

#submit-btn {
    float: left;
    width: 150px; /* Change the width as needed */
    height: 50px; /* Change the height as needed */
    background-color: #14ae5c; /* Change the color as needed */
    color: #ffffff; /* Change the color of the text as needed */
    border-radius: 6px;
    border: 0;
}