<div class="modal fade" id="Modal-DisplayLink-{{ item.id }}"
       tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">
            <!-- -->
            {{ item.name }}
          </h5>
          <button type="button" class="close"
                  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ display_link.hidden_tag() }}
            <h5>Are you sure you want to Display {{ item.name }} for {{ item.token }}t ?</h5>
            
            <br>
            <h6 class="text-center">
              by clicking this you will display the course link
            </h6>
            <br>

            <input id="display_link" name="display_link" type="hidden" value="{{ item.url }}">
            {{ display_link.submit(class="btn btn-outline btn-success") }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>