{% extends 'base.html' %}

{% block title %} User Profile {% endblock %}

{% block rightnavbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
    </li>
{% endblock %}

{% block content %}

<!-- html for user profile -->



<div class="dashboard_container">
    <h1>Welcome to your - <label> <b>Dashboard</b></label></h1>
    <p>Explore your incredible <label id="sub_text">achievements</label></p>
    <div class="user-logo">
        <!-- Insert your user logo here -->
    </div>





    <div class="user-info">
        <p>HiddenQ <label><b>[Warrior]</b></label></p>
        <p id="bio">Information is Power</p>
        <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin" id="linedin"></i></a>
        <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.github.com"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.medium.com"><i class="fa-brands fa-medium"></i></a>
    </div>






</div>

<div class="bar">
    <div class="section">Rank</div>
    <div class="section">Solved</div>
    <div class="section">Level</div>
</div>


















































{% endblock %}