{% extends 'base.html' %}

{% block title %} User Profile {% endblock %}

{% block rightnavbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
    </li>
{% endblock %}

{% block content %}



<!-- Welcome heading with small text -->

<div class="dashboard_container">
    <h1>Welcome to your - <label> <b>Dashboard</b></label></h1>
    <p>Explore your incredible <label id="sub_text">achievements</label></p>
    <div class="user-logo">
        <!-- Insert your user logo here -->
    </div>


    <!-- User information including username,bio,social media -->

    <div class="user-info">
        <p>HiddenQ <label><b>[Warrior]</b></label></p>
        <p id="bio">Information is Power</p>
        <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin" id="linedin"></i></a>
        <a href="https://www.youtube.com"><i class="fa-brands fa-youtube" id="youtube"></i></a>
        <a href="https://www.github.com"><i class="fa-brands fa-github" id="github"></i></a>
        <a href="https://www.medium.com"><i class="fa-brands fa-medium" id="medium"></i></a>
    </div>
</div>


 <!-- Rank and label HTML -->

<div class="rank-container">
    <div class="rank-section">
        <p class="rank-value"><b>10500</b></p>
        <p class="rank-label">Rank</p>
    </div>
    <div class="rank-section">
        <p class="rank-value"><b>50</b></p>
        <p class="rank-label">Solved</p>
    </div>
    <div class="rank-section">
        <p class="rank-value"><b>10</b></p>
        <p class="rank-label">Level</p>
    </div>
</div>


<!-- Solved Box  HTML -->

<!-- <div class="solved_challenges">
    <div class="room_level">
        <h3>Rooms Completed</h3>
    </div>
    <div class="boxes">
        <div class="catagory">Cryptography</div>
        <div class="points">50 | points</div>
        <div class="challenge_name">Decrypt me$</div>
        <div class="diff">#Hard</div>
        <button class="start-button">Start</button>
        <div class="author">Author: Avichiii</div>
    </div>
</div> -->



<div class="room_level">
    <h3 class="room_level_txt">Rooms Completed...</h3>
</div>
<div class="solved_challenges">
    <div class="box">
        <div class="catagory">Web Exploitation</div>
        <div class="points">10 | points</div>
        <div class="challenge_name">Find Me <i class="fa-solid fa-circle-check fa-lg" style="color: #1fdb5e;"></i> </div>
        <div class="diff">#Easy</div>
        <div class="author">Author: HiddenQ</div>
    </div>

    <div class="box1">
        <div class="catagory">Cryptography</div>
        <div class="points">50 | points</div>
        <div class="challenge_name">Decrypt me$</div>
        <div class="diff">#Hard</div>
        <div class="author">Author: Avichiii</div>
    </div>

    <div class="box2">
        <div class="catagory">Forensics</div>
        <div class="points">30 | points</div>
        <div class="challenge_name">Relief =* <i class="fa-regular fa-circle-check fa-lg" style="color: #1fdb5e;"></i> </div>
        <div class="diff">#Medium</div>
        <div class="author">Author: Billaboy</div>
    </div>
    <div class="box3">
        <div class="catagory">Forensics</div>
        <div class="points">30 | points</div>
        <div class="challenge_name">Relief =*</div>
        <div class="diff">#Medium</div>
        <div class="author">Author: Billaboy</div>
    </div>
</div>












































{% endblock %}