{% extends 'base.html' %}

{% block title %} CTF page {% endblock %}

{% block content %}

<div class="first_con"></div>
<h1 class="first_heading"> <label>E</label>xplore some incredible - <b><label>Challenges</label></b></h1>
<p class="fisrt_para">Here you can find lots of different types of challenges like  - <br><label> Web Exploitation, Crypto, Forensics, Binary Exploitation, etc.</label></p>
<h2 class="second_txt">Let's <label><b>Crack....</b></label></h2>
</div>


<!--sidebar HTML -->
<div class="sidebar">
    <div class="category-heading">Category Filter</div>
    <div class="category">Web Exploitation</div>
    <div class="category">Cryptography</div>
    <div class="category">Digital Forensics</div>
    <div class="category">Binary Exploitation</div>
    <div class="category">Reverse Engineering</div>
    <div class="category">Miscellaneous</div>
</div>

<!--Challenge box HTML -->

<div class="container_challenges">
    <div class="box">
        <div class="catagory">Web Exploitation</div>
        <div class="points">10 | points</div>
        <div class="challenge_name">Find Me../../..</div>
        <div class="diff">#Easy</div>
        <button class="start-button">Start</button>
        <div class="author">Author: HiddenQ</div>
    </div>

    <div class="box1">
        <div class="catagory">Cryptography</div>
        <div class="points">50 | points</div>
        <div class="challenge_name">Decrypt me$</div>
        <div class="diff">#Hard</div>
        <button class="start-button">Start</button>
        <div class="author">Author: Avichiii</div>
    </div>

    <div class="box2">
        <div class="catagory">Forensics</div>
        <div class="points">30 | points</div>
        <div class="challenge_name">Relief =*</div>
        <div class="diff">#Medium</div>
        <button class="start-button">Start</button>
        <div class="author">Author: Billaboy</div>
    </div>
</div>


{% endblock %}