/* User Profile css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.dashboard_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard_container h1 {
    margin-bottom: 10px;
    margin-top: 60px;
}
.dashboard_container label{
    color: #9fef00;
}
.dashboard_container p{
    font-size: 18px;
}
#sub_text{
    color: #9fef00;
}


.user-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ccc; /* Placeholder color */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 19px;
}

.user-info {
    text-align: center;
    margin-top: 10px;
}
.user-info p{
    font-size: 27px;
}

.user-info label{
    color: #23f102;
}
#bio{
    font-size: 16.5px;
    margin-top: -15px;
}

.user-info a{
    font-size: 20px;
    margin-right: 5px;
}
.user-info a i{ 
    color: rgb(152, 152, 153);
}










.section {
    color: rgb(192, 85, 85);
    font-size: 14px;
}

.section-value {
    font-weight: bold;
}

.rank-container {
    text-align: center;
    background-color: #1e2330;
    height: 74px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 56px;
}

.rank-section {
    flex-grow: 1;
}

.rank-value {
    font-size: 24px;
    margin-top: 10px;
    
}
.rank-label {
    font-size: 15px;
    margin-top: -17px;
    color: #b0b0b0;
}


.room_level{
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
.room_level .room_level_txt{
    color: rgb(226, 226, 226);
    font-size: 25px;
    font-weight: bold;
}

.solved_challenges{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 250px;
}

.box {
    width: 350px; /* Increased width */
    height: 215px;
    background-color: #1b2f4a;
    position: relative;
    padding: 20px;
    text-align: center;
    color: #fff;
    left: 2.5%;
}
.box1{
    width: 350px; /* Increased width */
    height: 215px;
    background-color: #1b2f4a;
    position: relative;
    padding: 20px;
    text-align: center;
    color: #fff;
    left: 0%;
}
.box2{
    width: 350px; /* Increased width */
    height: 215px;
    background-color: #1b2f4a;
    position: relative;
    padding: 20px;
    text-align: center;
    color: #fff;
    left: -3%;
}
.box3{
    width: 350px; /* Increased width */
    height: 215px;
    background-color: #1b2f4a;
    position: relative;
    padding: 20px;
    text-align: center;
    color: #fff;
    left: -5%;
}
.catagory {
    font-size: 14px; /* Small text */
    position: absolute; /* Positioned in the top left corner */
    top: 10px;
    left: 15px;
}
.points {
    font-size: 14px; /* Small text */
    position: absolute; /* Positioned in the top right corner */
    top: 10px;
    right: 13px;
}
.challenge_name {
    font-size: 21px; /* Large text */
    margin-bottom: 20px;
    margin-top: 49px;
    font-weight: bold;
}
.diff{
    margin-top: -19px;
    margin-bottom: 23px;
}
.author {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}














